Source: tempest
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Corey Bryant <corey.bryant@canonical.com>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools (>= 38~),
               python-all,
               python-pbr (>= 1.8),
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: git,
                     python-cliff (>= 1.15.0),
                     python-coverage,
                     python-fixtures (>= 1.3.1),
                     python-hacking,
                     python-jsonschema,
                     python-mock (>= 1.3),
                     python-mysqldb,
                     python-netaddr (>= 0.7.12),
                     python-openssl (>= 0.14),
                     python-oslo.concurrency (>= 3.5.0),
                     python-oslo.config (>= 1:3.9.0),
                     python-oslo.i18n (>= 2.1.0),
                     python-oslo.log (>= 1.14.0),
                     python-oslo.serialization (>= 1.10.0),
                     python-oslo.utils (>= 3.5.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.10.0),
                     python-os-testr,
                     python-paramiko,
                     python-prettytable,
                     python-psycopg2,
                     python-murano,
                     python-six (>= 1.9.0),
                     python-stevedore (>= 1.9.0),
                     python-swiftclient,
                     python-testscenarios,
                     python-testtools (>= 1.4.0),
                     python-urllib3 (>= 1.8.3),
                     python-yaml,
                     subunit,
                     testrepository,
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/tempest.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/tempest.git
Homepage: https://github.com/openstack/tempest

Package: tempest
Architecture: all
Depends: python-cliff (>= 1.15.0),
         python-fixtures (>= 1.3.1),
         python-jsonschema,
         python-netaddr (>= 0.7.12),
         python-openssl (>= 0.14),
         python-oslo.concurrency (>= 3.5.0),
         python-oslo.config (>= 1:3.9.0),
         python-oslo.i18n (>= 2.1.0),
         python-oslo.log (>= 1.14.0),
         python-oslo.serialization (>= 1.10.0),
         python-oslo.utils (>= 3.5.0),
         python-os-testr,
         python-paramiko,
         python-pbr (>= 1.8),
         python-prettytable,
         python-six (>= 1.9.0),
         python-stevedore (>= 1.9.0),
         python-swiftclient,
         python-testscenarios,
         python-testtools (>= 1.4.0),
         python-urllib3 (>= 1.8.3),
         python-yaml,
         subunit,
         testrepository,
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack Integration Test Suite
 Tempest is a set of integration tests to be run against a live Openstack
 cluster in order to make sure that all components are working as expected.
 Tempest will start and stop virtual machine in order to check that your
 cloud is working as expected.
