Source: tempest
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.6),
               python-setuptools
Build-Depends-Indep: pylint,
                     python-anyjson (>= 0.3.3),
                     python-boto (>=2.32.1),
                     python-ceilometerclient (>= 1.0.6),
                     python-cinderclient (>= 1.1.0),
                     python-fixtures (>= 0.3.14),
                     python-glanceclient (>= 1:0.14.0),
                     python-heatclient (>= 0.2.9),
                     python-httplib2 (>= 0.7.5),
                     python-ironicclient (>= 0.2.1),
                     python-iso8601 (>= 0.1.9),
                     python-jsonschema (>= 2.0.0),
                     python-keystoneclient (>= 1:0.10.0),
                     python-lxml,
                     python-mock (>= 1.0),
                     python-mox,
                     python-mysqldb,
                     python-netaddr (>= 0.7.12),
                     python-neutronclient (>= 2.3.6),
                     python-novaclient (>= 2:2.18.0),
                     python-oslo.config (>= 1.4.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-oslotest,
                     python-paramiko (>= 1.13.0),
                     python-psycopg2,
                     python-saharaclient (>= 0.7.3),
                     python-six (>= 1.7.0),
                     python-sphinx,
                     python-sqlalchemy,
                     python-stevedore (>= 1.0.0),
                     python-subunit (>= 0.0.18),
                     python-swiftclient (>= 2.2.0),
                     python-testresources (>= 0.2.4),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.34),
                     python-tox,
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/tempest.git
Vcs-Git: git://anonscm.debian.org/openstack/tempest.git
Homepage: https://github.com/openstack/tempest

Package: tempest
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-anyjson (>= 0.3.3),
         python-boto (>= 2.32.1),
         python-ceilometerclient (>= 1.0.6),
         python-cinderclient (>= 1.1.0),
         python-fixtures (>= 0.3.14),
         python-glanceclient (>= 1:0.14.0),
         python-heatclient (>= 0.2.9),
         python-httplib2 (>= 0.7.5),
         python-ironicclient (>= 0.2.1),
         python-iso8601 (>= 0.1.9),
         python-jsonschema (>= 2.0.0),
         python-keystoneclient (>= 1:0.10.0),
         python-lxml,
         python-netaddr (>= 0.7.12),
         python-neutronclient (>= 2.3.6),
         python-novaclient (>= 2:2.18.0),
         python-oslo.config (>= 1.4.0),
         python-paramiko (>= 1.13.0),
         python-pbr (>= 0.6),
         python-saharaclient (>= 0.7.3),
         python-six (>= 1.7.0),
         python-sqlalchemy,
         python-swiftclient (>= 2.2.0),
         python-testresources (>= 0.2.4),
         python-testscenarios (>= 0.4),
         python-testtools,
         subunit (>= 0.0.18),
         testrepository (>= 0.0.18),
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Integration Test Suite
 Tempest is a set of integration tests to be run against a live Openstack
 cluster in order to make sure that all components are working as expected.
 Tempest will start and stop virtual machine in order to check that your
 cloud is working as expected.
